<ion-view title="Forgot Password" id="forgotPassword" style="" hide-back-button="false">
  <ion-content padding="true" class="has-header">
    <form id="forgotPassword-form3" class="list" name="forgotPasswordForm">
      <ion-list id="forgotPassword-list1">
       

        <label class="item item-input" id="forgotPassword-input7">
            <span class="input-label">Please Enter Your Email</span>
            <input placeholder="" type="email" ng-model="data.email" name="email" maxlength="50" required>
        </label>
          <span style="color:red" ng-show="forgotPasswordForm.email.$touched && forgotPasswordForm.email.$error.required">
              Required Field</span>
          <span style="color:red" ng-show="forgotPasswordForm.email.$error.email">
              Valid Email please
          </span>
      
      <button id="signup-button3" class="button button-positive button-block" 
              ng-disabled="forgotPasswordForm.$invalid || !loading" ng-click="submit()">Submit</button>
        
    </form>
  </ion-content>
</ion-view>